

* {
  box-sizing: border-box;
text-shadow: 1px 1px gray;
text-align: center;
}

body {
background-color: linear-gradient(#69618a, #032041);
font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  font-size: 16px;
  border: 0px solid blue;
  background-image: url("https://zdnet2.cbsistatic.com/hub/i/r/2012/11/26/278e55cc-1d11-11e4-8c7f-00505685119a/thumbnail/770x578/d7ee420bbcc0785819eb1f6950790483/cloud-horizon.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
nav {
  font-family: 'helvetica', serif;
  letter-spacing: -4px;
  font-weight: bold;
  font-size: 52px;


}


a {
  color: cornflowerblue;
  text-decoration: none;
  text-transform: uppercase;
  /* padding: 2px; */
  font-size: 20px;
}



a:after {
    color: #4BD6FF;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  /* position: absolute; */
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}



a:hover {
  color: cornflowerblue;
  background-color:;
  /* margin: 5px; */
  transition: 0.8s;
  font-size: 24px;
}


label {
  display: block;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


	#container {
    background: white;
    opacity: 0.8;
		width: 944px;
    margin: 50px auto 0 auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    /* min-height:800px; */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	}


#container p{
   text-shadow: 1px 1px white;
}




nav {
  align-items: center;
  border: 1px solid transparent;
  background-color:midnightblue;
  font-family: roboto;
  text-align: center;
  color: white;
    align-items: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 10px;
  box-shadow: 0 0 0px black;
  border-bottom: 1px solid white;
  /* background-color: black; */
  color: white;
  display: flex;
  height: 40px;
  padding: 10px;
width: 102%;
margin-left: -8px;
margin-top: -10px;
position: fixed;

  /* position: -webkit-sticky; /* Safari */
  /* position: sticky; */
  top: 10px ;
  z-index: 9999;
}


nav a {
  font-size: 10px;
  display: inline-block;
  color: white;
  margin: 1em;
  padding: 10px;
}

nav a:hover{
  background: lightblue;
  color: white;
  letter-spacing: 10px;
  font-size: 10px;
  padding: 10px;
}





.title{
  background:lightblue;
  width: 102%;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -8px;
  text-align: center;
  font-family: helvetica;
    /* font-family: 'Playfair Display'; */
  /* font-style: italic; */
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  /* box-shadow: 10px 10px black; */
margin: -10px -10px -10px -10px;
/* padding-right: 50px; */
    border-radius: 25px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.title:hover{
  background:#4BD6FF;
  color:white;
  transition: 0.8s;
  width: 102%;
  font-size: 100px;
  letter-spacing: -6px;
  text-align: center;
  font-family: 'Playfair Display';
  font-style: italic;
  text-shadow: 4px 3px 0px #000000, 9px 8px 0px rgba(0,0,0,0.15);
  /* box-shadow: 10px 10px black; */
margin: -10px -10px -10px -10px;
/* padding-right: 50px; */
    border-radius: 25px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}






/* form div {
  margin: 1em;
  display: inline-block;
  border: 1px solid red;
} */

#container .formStyle {
  width: 280px;
  align-items: center;
  display: inline-block;

  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* color: white; */
}

small {
  float: center;
  font-size: 24px;
  border-bottom: 6px solid rgb(131, 151, 196);
  margin-bottom: 10px;
  padding: 13px 0

}

.labels{
  display: block;
}
.input {
  overflow: hidden;
  width: 100%;
  font-size: 15px;
  padding: 5px 0;
  margin: 4px 0;
  border-bottom: 1px solid white;


}
.sendBtn:after {
  width: 100%;
  background: navy;
  border: 2px solid rgb(131, 151, 196);
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;

}

.sendBtn:after {
  content:"Added!";
  width: 100%;
  background: navy;
  border: 2px solid rgb(131, 151, 196);
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;

}

.addBtn {
  width: 50%;
  /* content:"Add to cart!"; */
  background: navy;
    /* background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%); */
  border: 2px solid rgb(131, 151, 196);
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
    /* position: absolute;
  visibility: hidden; */

}



.addBtn:hover {
  width: 50%;
  /* content:"Add to cart?"; */
  background: cornflowerblue;
  /* background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%); */
  border: 2px solid rgb(131, 151, 196);
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  transition: 0.8s;

}

.addBtn:after {
  content:"Clicked";
  width: 50%;
  background: navy;
  border: 2px solid rgb(131, 151, 196);
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}





#nprogress .bar {
  height:6px;
}

/* #container {
  padding:40px;
  background-color:grey;
  color:white;
} */

#nprogress .bar {
  background: purple;
}

#nprogress .spinner-icon {
  border-top-color: blue;
  border-left-color: blue;
}



#productlink{
  position: relative;
  align-self: center;
  align-items: center;
  padding: 10px;
  max-width: 100%;
  /* border-bottom: 1px solid black;
} */
}

#productlink a{
  background-color: transparent;
  color: cornflowerblue;
  width: 50%;
  font-size: 50px;
  letter-spacing: -2px;
}

#productlink a:hover{
  background-color: cornflowerblue;
  color: white;
  width: 50%;
  font-size: 40px;
  letter-spacing: -2px;
  transition: 0.8s;
}

.welcometext {
  font-family: helvetica;
  letter-spacing: 2px;
  text-align: center;
  size: 24px;

}


#footer {
  height:150px;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 4px;

}

nav img{
box-shadow: 0px 0px black;
border-radius: 0%;
width: 11px;
height: 11px;
-webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
  filter: invert(100%);
}

nav img:hover{
box-shadow: 0px 0px black;
border-radius: 0%;
width: 11px;
height: 11px;
}


img{
box-shadow: 10px 10px black;
width: 300px;
height: 300px;
border-radius: 50%;
}

img:hover{
box-shadow: 10px 10px lightblue;
background: transparent;
height: 400px;
width: 400px;
transition-timing-function: ease-in-out;
  transition: 0.8s;
  border-radius: 50%;
}

img:after{
box-shadow: 10px 10px lightblue;
background: transparent;
height: 400px;
width: 400px;
transition-timing-function: ease-in-out;
  transition: 0.8s;
  border-radius: 50%;
}

/* img:after{
  transition: 0.8s;
} */

img a:hover{
  background: transparent;
}



.carousel-wrapper{
  height:400px;
  position:relative;
  width:800px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }


/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/f24b4a7bf9f24d1ba5f899339e6949f3');
  background-size:cover;
  }
.item-2{
  background:url('https://img-aws.ehowcdn.com/560x560p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/aac4f9b5127946ec8cc85c718d4261d5');
   background-size:cover;
}
.item-3{
  background:url('https://www.history.com/.image/t_share/MTU3ODc5MDgyNjY5OTc1MjYz/new-york-city.jpg');
   background-size:cover;
}
.item-4{
  background:url('https://images.unsplash.com/photo-1488197047962-b48492212cda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1494&q=80');
  background-size: cover;
}
.item-5{
  background: url('https://images.unsplash.com/photo-1459604541061-650c347b06bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}
.item-6{
  background: url('https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
  background-size: cover;
}
.item-7{
  background: url('https://images.unsplash.com/photo-1458324393608-a57f6c541b4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}
.item-8{
  background: url('https://images.unsplash.com/photo-1515885267349-1fcef6e00fd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}
.item-9{
  background: url('https://images.unsplash.com/photo-1484291470158-b8f8d608850d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}



#cartItemDiv {
  display: flex;
  flex-direction: row
}


#item-2:target ~ .item-2,
#item-3:target ~ .item-3,
#item-4:target ~ .item-4,
#item-5:target ~ .item-5,
#item-6:target ~ .item-6,
#item-7:target ~ .item-7,
#item-8:target ~ .item-8,
#item-9:target ~ .item-9{
    z-index: 3;
    opacity: 1;
  }











/*
