

* {
  box-sizing: border-box;
text-shadow: 1px 1px gray;
text-align: center;
}

body {
background-color: linear-gradient(#69618a, #032041);
font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  font-size: 16px;
  border: 1px solid blue;
  background-image: url("https://bckgrnds.files.wordpress.com/2011/10/cloud_by_avrt-d4azyvm.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
nav {
  font-family: 'Playfair Display', serif;
  letter-spacing: 5px;

}


a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  border: 1px solid green;
  background-color: midnightblue;
  color: white;
}


nav a {
  display: inline-block;
  margin: 1em;
}

nav a:hover{
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
  border: 1px solid red;
}

.welcometext {
  font-family: helvetica;
  letter-spacing: 2px;
  text-align: center;
  size: 24px;

}

nav img{
box-shadow: 0px 0px black;
border-radius: 0%;
width: 30px;
height: 30px;
}

nav img:hover{
box-shadow: 0px 0px black;
border-radius: 0%;
width: 40px;
height: 40px;
}

img{
box-shadow: 10px 10px black;
width: 300px;
height: 300px;
border-radius: 50%;
}

img:hover{
box-shadow: 10px 10px lightblue;
height: 500px;
width: 500px;
transition-timing-function: ease-in-out;
  transition: 0.8s;
  border-radius: 50%;
}

a {
  color: lightblue;
}

a:hover {
  color: white;
  transition: 0.8s;
  font-size: 18px;
}

.carousel-wrapper{
  height:400px;
  position:relative;
  width:800px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}

.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }


/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/f24b4a7bf9f24d1ba5f899339e6949f3');
  background-size:cover;
  }
.item-2{
  background:url('https://img-aws.ehowcdn.com/560x560p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/aac4f9b5127946ec8cc85c718d4261d5');
   background-size:cover;
}
.item-3{
  background:url('https://www.history.com/.image/t_share/MTU3ODc5MDgyNjY5OTc1MjYz/new-york-city.jpg');
   background-size:cover;
}
.item-4{
  background:url('https://images.unsplash.com/photo-1488197047962-b48492212cda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1494&q=80');
  background-size: cover;
}
.item-5{
  background: url('https://images.unsplash.com/photo-1459604541061-650c347b06bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}
.item-6{
  background: url('https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
  background-size: cover;
}
.item-7{
  background: url('https://images.unsplash.com/photo-1458324393608-a57f6c541b4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}
.item-8{
  background: url('https://images.unsplash.com/photo-1515885267349-1fcef6e00fd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}
.item-9{
  background: url('https://images.unsplash.com/photo-1484291470158-b8f8d608850d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5,#item-6:target ~ .item-6,#item-7:target ~ .item-7,#item-8:target ~ .item-8,#item-9:target ~ .item-9 {
    z-index: 3;
    opacity: 1;
  }













/*
